#services

{
	padding: 80px 0;
}


.service-img
{
	width:300px;
	transition: transform .5s;
	border: 13px solid transparent;
	
}
.service-img:hover{
	 transform: scale(1.5); 
	
}

.services h3,p {
	color: #fafafa;
  font-family: Century Gothic;
  margin-bottom: 10px;
  margin-top: 10px;
 
	
	
}
.services h3 {
	text-transform: uppercase;
}
.services {
	
	padding: 20px;
}
.title  {
	color: #fafafa;
  font-family: Century Gothic;
  margin-bottom: 10px;
  margin-top: 10px;
}

#services  button {

  border:1px solid #d9d5b2;

  background:#363531;

  border-radius: 2;

  color:#fff;
  padding: 5px 5px;
  width: 150px;

}

 

#services .btn-secondary:hover {

  border:1px solid #d9d5b2;

  background:#fff;

  color:#363531  ;

}
